<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.management.mapper.DeptMapper">


    <insert id="insert">
        INSERT INTO
            dept(name,status,create_time,update_time)
        VALUES
            (#{name},#{status},#{createTime},#{updateTime})
    </insert>
    <update id="update">
        UPDATE
            dept
        SET
            name = #{name},
            status = #{status},
            update_time = #{updateTime}
        WHERE
            id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM
            dept
        WHERE
            id = #{id}
    </delete>
    <select id="selectByCondition" resultType="com.qk.model.entity.Dept">
        SELECT
            *
        FROM
            dept
        <where>
            <if test="name != null">
                AND name LIKE concat('%',#{name},'%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    <select id="selectById" resultType="com.qk.model.entity.Dept">
        SELECT
            *
        FROM
            dept
        WHERE
            id = #{id}
    </select>
    <select id="selectAll" resultType="com.qk.model.entity.Dept">
        SELECT
            *
        FROM
            dept
    </select>
    <select id="selectByIdAndName" resultType="com.qk.model.entity.Dept">
        SELECT
            *
        FROM
            dept
        WHERE
            id != #{id}     # 自己修改可以跟自己的名称重复
            And name = #{name}
    </select>
    <select id="selectByName" resultType="com.qk.model.entity.Dept">
        SELECT
            *
        FROM
            dept
        WHERE
            name = #{name}
    </select>

</mapper>